$border-color: #ebebeb;
$orange-gray: #fcb941;

.card {
  img {
    object-fit: contain;
    margin: 0 auto;
    width: 277px;
    height: 277px;
    padding: 1rem;
  }
  height: 409.39px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid $border-color;
}

.title {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  font-weight: 400;
  max-height: 2.8em;
  line-height: 1.4em;
  font-size: 1rem;
  text-align: initial;
  text-decoration: none;
  transition: color 0.3s ease;
  color: #333;

  &:hover {
    color: #fcb941;
  }
}

.cardContent {
  text-align: initial;
  padding: 1rem 1rem 0rem 1rem;
  position: relative;
  z-index: 7;
  background: #fff;
  .category {
    font-size: 0.9rem;
    color: #ccc;
    font-weight: 300;
  }
  .price {
    font-size: 1rem;
    color: $orange-gray;
    display: flex;

    span {
      color: #ccc;
      margin-left: 8px;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.imageDiv {
  &:hover {
    .addToWishList {
      opacity: 1;
      right: 7px;
      visibility: visible;
      transition: all 0.3s ease-in-out;
      &:hover {
        border-radius: 0px 25px 25px 0px;
        .top {
          opacity: 1;
          transform: translateX(-63px);
        }
      }
    }

    .bottom {
      bottom: 0;
    }
  }
}

.addToWishList {
  position: absolute;
  opacity: 0;
  top: 23px;
  right: 30px;
  content: "";
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $orange-gray;
  border-radius: 50%;
  cursor: pointer;

  svg {
    font-weight: 300;
    font-size: 14px;
    z-index: 11;
    color: #333;
  }

  .top {
    position: absolute;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    height: 30px;
    opacity: 0;
    transform: translateX(-61px);
    background: $orange-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 19px;
    p {
      color: #333;
      white-space: nowrap;
      font-size: 11px;
      width: 100%;
      font-weight: 300;
    }
  }
}

.bottom {
  position: absolute;
  bottom: -39px;
  left: 0;
  width: 100%;
  background: #333333;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  z-index: 6;

  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    div:not(:nth-child(2)),
    a {
      transition: all ease-in-out 0.3s;
      display: flex;
      width: 100%;
      font-size: 15px;
      align-items: center;
      color: #fff;
      justify-content: center;
      text-decoration: none;
      svg {
        font-size: 18px;
        margin-right: 10px;
      }

      h5 {
        font-weight: 400;
        white-space: nowrap;
        transition: box-shadow ease-in-out 0.3s;
      }

      &:hover {
        color: #fcb941;
        h5 {
          box-shadow: 0 1px 0 0 #c96;
        }
      }
    }
  }

  .rode {
    width: 3px;
    min-height: 100%;
    max-height: 100%;
    background: #6e6e6e;
    display: inline-block;
    height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    bottom: 0;
  }
  .addToWishList {
    opacity: 1;
    visibility: visible;
  }
}
