$yellow: #fcb941;
$header-color: #333;
$dark-yellow: #bf913d;
$gray: #777;

.swiper {
  width: 100%;
  height: 100%;
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerSliderText {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  content: "";
  text-align: initial;

  h3 {
    font-size: 14px;
    color: $yellow;
    font-weight: 300;
    line-height: 1.1;
  }
  h1 {
    line-height: 1.2;
    color: $header-color;
    font-size: 30px;
  }
  p {
    margin-bottom: 0.4rem;
    sup {
      position: relative;
    }
    .firstSup {
      font-size: 14px;
      vertical-align: top;
      top: 0.3em;
    }

    span {
      margin-left: 11px;
      font-size: 30px;
      font-weight: 700;
      color: $yellow;

      .secondSup {
        font-weight: normal;
        font-size: 1.25rem;
        top: -0.2em;
      }
    }
  }
}

.bannerButton {
  background: $yellow;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  transition: all ease-in-out 0.3s;
  padding: 6.5px 10px;
  text-decoration: none;
  width: fit-content;

  &:hover {
    background-color: #bf913d;
  }
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
}

.sideBannerText {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 0.2rem;

  h4 {
    font-weight: 300;
    font-size: 0.9rem;
    color: $gray;
    margin-bottom: 0.1rem;
  }

  h3 {
    line-height: 22px;
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
  }

  a {
    display: flex;
    background: transparent;
    color: $yellow;
    border: none;
    align-items: center;
    font-size: 0.875rem;
    transition: all ease-in-out 0.2s;
    padding: 2px 10px;
    border-radius: 10px;
    margin-left: -0.6rem;
    width: fit-content;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: $yellow;
    }
  }
}

@media screen and (max-width: 1200px) {
  .side {
    margin-top: 2rem;
    row-gap: 1rem;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .photo1 {
    content: url("https://firebasestorage.googleapis.com/v0/b/shop-8b88e.appspot.com/o/79718a2f-d613-436d-bc72-768d02f56431.jpg?alt=media&token=5c6ce175-a9e6-4d9e-8ba1-c12df413408c");
  }
  .photo2 {
    content: url("https://firebasestorage.googleapis.com/v0/b/shop-8b88e.appspot.com/o/e3472940-5768-4015-aa14-c9f9f4eb23d1.jpg?alt=media&token=9d22e0db-b541-4398-9f96-8e95eeffa332");
  }
}

@media screen and (min-width: 576px) {
  .headerSliderText {
    left: 50px;
    h1 {
      font-size: 32px;
    }
    h3 {
      font-size: 1rem;
    }
    .bannerButton {
      font-size: 13px;
      padding: 10px 15px;
    }

    p {
      .firstSup {
        font-size: 15px;
      }
      span {
        font-size: 32px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .headerSliderText {
    left: 70px;

    h1 {
      font-size: 40px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .firstSup {
      font-size: 18px;
    }

    p {
      span {
        font-size: 40px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .headerSliderText {
    h1 {
      font-size: 50px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .bannerButton {
      padding: 0.72rem 2.05rem;
    }
  }
}
