$border-color: #ebebeb;
$orange-gray: #fcb941;

.card {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 2rem;
  }
  height: 450px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid $border-color;
}

.title {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  font-weight: 400;
  max-height: 2.8em;
  line-height: 1.4em;
  font-size: 1rem;
  text-align: initial;
}

.cardContent {
  text-align: initial;
  padding: 2.5rem 1rem 0rem 1rem;
  .category {
    font-size: 0.9rem;
    color: #ccc;
    font-weight: 300;
  }
  .price {
    font-size: 1rem;
    color: $orange-gray;
    display: flex;

    span {
      color: #ccc;
      margin-left: 8px;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}
